#footerUp {
  padding: 0px 100px;
  background-color: #0a1633;
}
#footerMiddleUp {
  padding: 20px 0;
}
#titleFooter {
  padding-bottom: 20px;
  color: #fff;
  font-weight: bolder;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}
#titleFooter:hover {
  text-decoration: none;
}
#footerMiddle {
  padding: 20px 0px;
  background-color: #0a1633;
  border-top: 1px solid #454f64;
  border-bottom: 1px solid #454f64;
}
#ulList {
  display: block;
}
.titles {
  color: #fff;
  text-transform: uppercase;
  font-style: bolder;
}
.liText {
  color: #fff;
  display: block;
  margin-top: 5px;
}
.aList:link {
  color: #fff;
  text-decoration: none;
}
.aList:hover {
  text-decoration-line: underline;
  text-decoration: white;
  color: white;
}
#footerDown {
  padding: 20px 0px;
}
#footerUl {
  display: inline-block;
  padding: 0px 0px;
  margin: 0px;
  font: 13px arial;
}
.aList{
  color: #fff;
}
#footerP {
  padding: 0px;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
}
#btnFeedback {
  margin: 0px 20px 0px 767px;
}
#btnFeedback:hover {
  text-decoration: underline;
}